*{
    margin: 0;
    padding: 0;
}

html, body {
    /* overflow: hidden; */
    background-color: #d08e95;
}

#background {
    opacity: 0.5;
    object-fit: cover;
}

#canvas, #background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

